<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- I think for the images we have to refer to where app.js exists not index.hbs --}}
    {{!-- <link rel="icon" href="/images/weather.png"> --}}
    <title>Home</title>
</head>
<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        <p>Quickly talor your resumes</p>


    </div>
    <script src="/js/app.js"></script>
</body>
</html>