<html><head>
    <link rel="stylesheet" type="text/css" href="/Resume Templates/Resume1.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="95ca7bbc-318c-11e9-8f58-0cc47792c0a_id_95ca7bbc-318c-11e9-8f58-0cc47a792c0a_files/wz_jsgraphics.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Jaldi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
</head>


<body>
    <div class="first_page">
        <div class="test">
            <div class="cls_002">
                <span class="cls_002" id="first_name">Wahab</span><span>&nbsp;</span><span class="cls_003" id="last_name">Ahmad</span>
            </div>
            <div class="cls_004">
                <span class="cls_004" id="program_term">ECE Term 1A</span>
            </div>

            <div class="infoBlock">
                <div class="cls_006">
                    <span class="cls_007" id="phone">PHONE NUMBER</span>
                </div>
                <div class="cls_007">
                    <span class="cls_007"> &nbsp;|&nbsp; </span>
                </div>

                <div class="cls_006">
                    <span class="cls_007" id="email">EMAIL</span>
                </div>

                <div class="cls_007">
                    <span class="cls_007"> &nbsp;|&nbsp; </span>
                </div>

                <div class="cls_006">
                    <span class="cls_007" id="website">www.wahabahmad.ca</span>
                </div>

                <div class="cls_007">
                    <span class="cls_007"> &nbsp;|&nbsp; </span>
                </div>

                <div class="cls_006">
                    <span class="cls_007" id="student_number">STUDENT NUMBER</span>
                </div>


                <div class="cls_007">
                    <span class="cls_007"> &nbsp;|&nbsp; </span>
                </div>

                <div class="cls_006">
                    <span class="cls_007" id="github">github.com/w28ahmad</span>
                </div>
            </div>
        </div>


        <div class="summary">

            <!--          teqnical skills-->
            <div class="skills">
                <div class="heading">
                    <span class="heading">Technical skills</span>
                </div>

                <div class="text">
                    <span class="text" id="languages"><b>Languages:</b>  C++, HTML, CSS, JavaScript, Sass, node.js, Python, Appscript</span>
                    <span class="text" id="tools"><b>IDE’s and tools:</b> cPanel, Brackets, Arduino, Eclipse, GitHub, MS Suite, AWS, AutoCAD Inventor</span>
                </div>
            </div>

            <!--            summary of qualifications-->
            <div class="qualifications">
                <div class="heading">
                    <span class="heading">Summary of Qualifications</span>
                </div>

                <div class="text" id="qualifications">
<span class="text">• Managed a weekly job and several extracurricular activities successfully while simultaneously placing at the top of my classes</span>
<span class="text">• Experienced with C++ through university courses</span>
<span class="text">• Enthusiastic about learning, testing and challenging my problem-solving skills</span>
<span class="text">• Love designing functional and appealing webpages</span></div>
            </div>

            <!--           work experence-->
            <div style="" class="heading">
                <span class="heading">Work Experience</span>
            </div>
            <div id="projects"><div class='title-date'>
<div class='title-section'>
<div class='subtitle'>
<span class='subtitle'>Snake Game (JavaScript) </span>
</div>
</div>
<div class='date'>
<div class='cls_015'>
<span class='cls_015'>Dec 2018 – Jan 2019 </span>
</div>
</div>
</div>
<div class="text">
            <span class="text">Constructed a simple snake game using the p5js library </span>
        </div>
<div class="text">
            <span class="text">Visualised Various sorting algorithms using the p5js library </span>
        </div>

<div class='title-date'>
<div class='title-section'>
<div class='subtitle'>
<span class='subtitle'>Robotics (Arduino, AutoCAD Inventor)</span>
</div>
</div>
<div class='date'>
<div class='cls_015'>
<span class='cls_015'>Feb 2017 - June 2017, Feb 2018 - June 2018 </span>
</div>
</div>
</div>
<div class="text">
            <span class="text">Designed and programmed a competition level Vex robot with 8 teammates, placed 16th out of 64 teams for a regional competition</span>
        </div>
<div class="text">
            <span class="text">Programmed mechanical actuators, ultrasonic and line sensors for Tetrix-Max class competitions </span>
        </div>
<div class="text">
            <span class="text"> Used Inventor for 3D prototyping and printing a simple toy car</span>
        </div>

<div class='title-date'>
<div class='title-section'>
<div class='subtitle'>
<span class='subtitle'>Rube Goldberg Machine</span>
</div>
</div>
<div class='date'>
<div class='cls_015'>
<span class='cls_015'>Dec. 2017</span>
</div>
</div>
</div>
<div class="text">
            <span class="text">Assembled a Rube Goldberg Machine for a physics class event, tasked to launch an egg</span>
        </div>
<div class="text">
            <span class="text">It was recognised by the science department as a skilled project</span>
        </div>
<div class="text">
            <span class="text">Filmed the project, it can be viewed here: https://www.youtube.com/watch?v=RDleIjJUa8M</span>
        </div>

</div>

            <!--          Education-->
            <div class="heading">
                <span class="heading">Education</span>
            </div>

            <div class="title-date">
                <div class="title-section">
                    <div class="subtitle">
                        <span class="subtitle">POSTECH (Pohang University of Science and Technology)</span>
                    </div>
                </div>
                <div class="date">
                    <div class="cls_015">
                        <span class="cls_015">Mar. 2010 - Exp. Aug. 2017</span>
                    </div>
                </div>
            </div>
            <div class="cls_014">
                <span class="cls_014">B.S. IN COMPUTER SCIENCE AND ENGINEERING</span>
            </div>


            <!--            PROJECT EXPERENCE-->
            <div style="" class="heading">
                <span class="heading">Work Experience</span>
            </div>

            <div class="title-date">
                <div class="title-section">
                    <div style="" class="subtitle">
                        <span class="subtitle">PLAT Corp.</span>
                    </div>
                </div>
                <div class="date">
                    <div style="" class="cls_015">
                        <span class="cls_015">Jan. 2016 - PRESENT</span>
                    </div>
                </div>
            </div>
            <div style="" class="text">
                <span class="text">• Implemented RESTful API server for car rental booking application(CARPLAT in Google Play).</span>
            </div>
            <div style="" class="text">
                <span class="text">• Built and deployed overall service infrastructure utilizing Docker container, CircleCI, and several AWS stack(Including EC2, ECS, Route 53, S3,</span>
            </div>
            <div style="" class="text">
                <span class="text">CloudFront, RDS, ElastiCache, IAM), focusing on high-availability, fault tolerance, and auto-scaling.</span>
            </div>
            <div style="" class="text">
                <span class="text">• Developed an easy-to-use Payment module which connects to major PG(Payment Gateway) companies in Korea.</span>
            </div>

            <div class="title-date">
                <div class="title-section">
                    <div class="subtitle">
                        <span class="subtitle">R.O.K Cyber Command, MND</span>
                    </div>
                </div>
                <div class="date">
                    <div class="cls_015">
                        <span class="cls_015">Aug. 2014 - Apr. 2016</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <span class="text">• Lead engineer on agent-less backtracking system that can discover client device’s fingerprint(including public and private IP) independently of</span>
            </div>
            <div class="text">
                <span class="text">the Proxy, VPN and NAT.</span>
            </div>
            <div class="text">
                <span class="text">• Implemented a distributed web stress test tool with high anonymity.</span>
            </div>
            <div class="text">
                <span class="text">• Implemented a military cooperation system which is web based real time messenger in Scala on Lif.</span>
            </div>


        </div>


    </div>



</body></html>